[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docxtpl = "*"
jinja2 = "*"
pyqt5 = "*"
pyqt5-tools = "*"
pymongo = "*"
docx2pdf = "*"
aspose-words = "*"
comtypes = "*"

[dev-packages]
ipykernel = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
